<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/react</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <mapping class="cyanide3d.dto.ActionEntity"/>
        <mapping class="cyanide3d.dto.ChannelEntity"/>
        <mapping class="cyanide3d.dto.UserEntity"/>
        <mapping class="cyanide3d.dto.BadwordEntity"/>
        <mapping class="cyanide3d.dto.AutoroleEntity"/>
        <mapping class="cyanide3d.dto.PermissionEntity"/>
        <mapping class="cyanide3d.dto.BlacklistEntity"/>
        <mapping class="cyanide3d.dto.RoleEntity"/>
        <mapping class="cyanide3d.dto.CustomCommandEntity"/>
        <mapping class="cyanide3d.dto.EntryMessageEntity"/>
    </session-factory>
</hibernate-configuration>