<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/discord</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <mapping class="cyanide3d.repository.model.ActionEntity"/>
        <mapping class="cyanide3d.repository.model.ChannelEntity"/>
        <mapping class="cyanide3d.repository.model.UserEntity"/>
        <mapping class="cyanide3d.repository.model.BadwordEntity"/>
        <mapping class="cyanide3d.repository.model.AutoroleEntity"/>
        <mapping class="cyanide3d.repository.model.PermissionEntity"/>
        <mapping class="cyanide3d.repository.model.BlacklistEntity"/>
        <mapping class="cyanide3d.repository.model.RoleEntity"/>
        <mapping class="cyanide3d.repository.model.CustomCommandEntity"/>
        <mapping class="cyanide3d.repository.model.GreetingEntity"/>
        <mapping class="cyanide3d.repository.model.JoinLeaveEntity"/>
        <mapping class="cyanide3d.repository.model.DefaultRoleEntity"/>
    </session-factory>
</hibernate-configuration>